.about-info h1 {
    border-bottom: 3px solid var(--bluegrey);
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    letter-spacing: 1vmin;
    padding-left: 50vmin;
    text-align: center;
}

.about-info p {
    font-size: 2vmin;
    font-weight: 200;
    letter-spacing: 0;
    width: 60vmin;
}

@media only screen and (max-width: 500px) {

    .about-info {
        margin-top: -50vmin;
        padding: 0;
    }

    .about-info p {
        font-size: 3vmin;
        font-weight: 300;
        width: 90%;
    }
}