.Services h1 {
    border-bottom: 3px solid var(--bluegrey);
    text-align: center;
}

.service-list {
    font-size: 3vmin;
    letter-spacing: 1vmin;
    padding: 0 0 0vmin 50vmin;
}

.service-list-items {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    font-weight: 200;
    font-size: 2.5vmin;
    letter-spacing: 0;
}

.service-price {
    font-weight: 400;
}

.nbr {
    font-size: 2vmin;
    font-weight: 400;
    line-height: 0;
    padding-left: 2vmin;
}

@media only screen and (max-width: 500px) {

    .service-list {
        margin-top: -50vmin;
        padding: 0;
    }

    .service-list-items {
        font-size: 4vmin;
    }
}