.Title {
    position: fixed;
    right: 22%;
}

.Title h1 {
    font-family: vaR(--header-font);
    font-size: 11vmin;
    line-height: 0;
}

.Title h6 {
    font-weight: 200;
    font-size: 2.5vmin;
    letter-spacing: .3vmin;
    line-height: 0;
}

@media only screen and (max-width: 500px) {

    .Title {
        position: static;
        text-align: center;
        margin-top: -50vmin;
    }

    .Title h1 {
        font-size: 14vmin;
    }

    .Title h6 {
        font-size: 3.2vmin;
    }
}