.contact-info {
    font-size: 3vmin;
    padding: 0 0 0 50vmin;
    text-align: center;
}

.contact-info h1 {
    border-bottom: 3px solid var(--bluegrey);
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vmin;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75vmin;
    font-weight: 200;
    letter-spacing: 0;
    background-color: rgb(70, 63, 59);
    border: 1px solid rgb(57, 51, 47);
    height: 5vmin;
    width: 25vmin;
    border-radius: 25px;
    transition: all 0.5s ease;
    margin: 0 2vmin;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.salon {
    line-height: 1.5;
    border: 2px solid var(--bluegrey);
    margin: 0 auto;
    padding: 2vmin;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.salon img {
    filter: invert(1);
}

.salon iframe {
    filter: saturate(.25) hue-rotate(190deg);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 80%;
}

.contact-icons {
    display: flex;
    justify-content: center;
    column-gap: 4vmin;
    padding: 2vmin 0 3vmin 0;
}

@media only screen and (max-width: 500px) {

    .contact-info {
        margin-top: -50vmin;
        padding: 0;
    }

    .salon {
        padding: 4vmin;
    }

    .button {
        font-size: 3vmin;
        height: 8vmin;
        width: 40vmin;
        margin-top: 2vmin;
    }
}