.NBR {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 60vh;
    margin: 0;
    position: absolute;
    left: 0;
    top: 22%;
    animation: fadeInUp 1s;
}

.nbr-info {
    font-size: 3vmin;
    letter-spacing: 1vmin;
    padding: 0 0 0 50vmin;
    text-align: center;
}

.nbr-info h1 {
    width: 60vmin;
    border-bottom: 3px solid var(--bluegrey);
}

.nbr-questions {
    text-align: center;
    padding: 0 0 0 50vmin;
    width: 40vw;
    overflow: scroll;
    overflow-x: hidden;
}

.nbr-questions h4 {
    font-size: 2vmin;
}

.nbr-questions p {
    font-size: 1.5vmin;
    font-weight: 200;
    padding: 0 2vmin;
}

.scroll {
    font-size: 1.5vmin;
    letter-spacing: 0;
    line-height: 0;
    text-transform: uppercase;
    color: var(--bluegrey);
    position: absolute;
    bottom: 10%;
    right: 32%;
}

@media only screen and (max-width: 500px) {

    .NBR {
        position: static;
        margin-top: -50vmin;
    }

    .NBR, .nbr-info, .nbr-questions {
        padding: 0;
    }

    .NBR h1, .nbr-questions {
        width: auto;
        margin: 5vmin;
    }

    .nbr-questions h4 {
        font-size: 3vmin;
    }
    
    .nbr-questions p {
        font-size: 2.5vmin;
        font-weight: 200;
        padding: 0 2vmin;
    }

    .scroll {
        font-size: 4vmin;
        position: static;
        color: #fff;
        margin-top: 5vmin;
    }
}