@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Ragasta';
  src: url('/public/assets/Ragasta.ttf');
}

:root {
  --deepnavy: #1B263B;
  --bluegrey: #778DA9;
  --platinum: #E0E1DD;
}

html {
  background-image: url('/public/assets/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  font-family: 'Lexend Exa', sans-serif;
  color: var(--platinum);
  overflow: overlay;
}

h1 {
  font-family: 'Ragasta', serif;
}

a {
  color: var(--platinum);
  text-decoration: none;
}

ul:hover, li:hover, a:hover, .nbr:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1500px) {

  html {
    background-position: 10%;
  }
}