.Nav ul {
    font-size: 2vmin;
    font-weight: 300;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 6vmin;
    padding: 2vmin 4vmin;
}

.Nav h1 {
    font-family: var(--header-font);
    font-size: 3.5vmin;
    position: absolute;
    left: 2%;
}

.hover {
    display: inline-block;
    position: relative;
}
  
.hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -.5vmin;
    left: 0;
    background-color: var(--bluegrey);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media only screen and (max-width: 500px) {
    .Nav ul {
        font-size: 3vmin;
    }

    .Nav h1 {
        font-size: 5vmin;
        left: 5%;
        top: 0.25%;
    }
}